<% provide(:title, "Clock+") %>

    <div class="row1">
        <div class="col">
            <div class="center jumbotron" style="background-color:#222; color: white; height: 200px;">
                <h1> Clock+ </h1>
                <h4> Clock built by Joshua Barua - s3610346@student.rmit.edu.au - Pass - Overseas Group </h4>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="row2" style="color: white;">
            <div class="col">
                ONE
            </div>
            <div class="col-5" style="background-color:#363636">
                TWO
            </div>
            <div class="col">
                THREE
            </div>
        </div>    
    </div>
