@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

body {
  padding-top: 60px;
  background-color: #222;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2em;
  letter-spacing: -2px;
  margin-bottom: 10px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: white;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 2px;
  font-size: 1em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 15px;
  font-weight: bold;
  &:hover {
    color: grey;
    text-decoration: none;
  }
}
.navbar{
  height: 60px;
  padding-top: 5px;
}
.navbar-inverse{
  border-color: #222;
}

.navbar-inverse .navbar-nav > li > a {
  color: rgb(79, 255, 158);
  font-size: .8em;
  font-weight: bold;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: rgb(79, 255, 158);
  color: black;
  font-size: .8em;
  font-weight: bold;
  border-radius: 30px;
}

/* body */
.jumbotron{
  max-height: 170px !important;
}
.jumbotron h1{
  font-size: 2.7em;
  font-weight: 350;
  letter-spacing: 1px;
}
.jumbotron h4{
  font-size: 1.2em;
  font-weight: 350;
  letter-spacing: 1px;
}

.row1 {
  background-color: black;

}

.row2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:30px;
}

.col-5{
  height:500px;
  width: 500px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
  0 2px 2px rgba(0,0,0,0.12), 
  0 4px 4px rgba(0,0,0,0.12), 
  0 8px 8px rgba(0,0,0,0.12),
  0 16px 16px rgba(0,0,0,0.12);
  z-index:1;
  padding-top: 80px;
}

.tableRow{
  border-style: solid;
  border-width: 1px;
  border-color: #464646;

}
.sidebarKey{
  font-weight: 350; 
  font-size: .8em;;
}

.themeSelection li{
  display: block;
  text-decoration: none;
  padding:5px;
}

.themeSelection > li > a,
.themeSelection > li > a:hover,
.themeSelection > li > a:focus{
  background-color:rgb(90, 90, 90);
  color: rgb(173, 173, 173);
  font-size: 1em;
  font-weight: 350;
  text-decoration: none;
  padding: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.themeSelection > .active > a,
.themeSelection > .active > a:hover,
.themeSelection > .active > a:focus{
  background-color:#222;
  color: grey;
  font-size: 1m;
  font-weight: 350;
  text-decoration: none;
}

#business{
  color: rgb(79, 255, 158);
}

#overtime{
  color: yellow;
}

#person{
  color: red;
}

#sleeping{
  color: lightgrey;
}
/* footer */

footer {
  margin-top: 100px;
  padding-top: 35px;
  border-top: 1px solid $gray-medium-light;
  background-color:  rgb(245, 245, 245);
  color: $gray-light;
  height: 100px;
  a {
  
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;

    li{
      float: left;
      margin-left: 10px;
    }
    #footerTitle{
        font-size:0.8em;
      }
    .fa-facebook {
      color: rgb(59, 91, 152);
      &:hover{
        color: grey;
      }
    }

    .fa-twitter {
      color: #00aced;
      &:hover{
        color: grey;
      }
    }

    .fa-linkedin{
      color: #007bb6;
      &:hover{
        color: grey;
      }
    }

  }
}


/* mixins, variables, etc.  */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
} 

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar 

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}
*/

/* forms 

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

*/