<footer class="footer">
  <div class="container" id="footer_container">
    <small>
      Clock+
      <br>
      S3610346@student.rmit.edu.au - s3610346 
      <br>
      Credit
    </small>
    <nav> 
      <ul>
        <li id="footerTitle"> 
        Share <br>
        Social
        </li>

        <li id="footerIcon"> <%= link_to "http://www.facebook.com", target: "_blank" do %> 
        <i class='fab fa-facebook fa-2x'> </i> 
        <%end%> </li>

        <li id="footerIcon"> <%= link_to "http://www.linkedin.com", target: "_blank" do %> 
        <i class="fab fa-linkedin fa-2x" > </i> 
        <%end%> </li>

       <li id="footerIcon"> <%= link_to "http://www.twitter.com", target: "_blank" do %> 
         <i class="fab fa-twitter fa-2x"> </i> 
        <%end%> </li>

        

      </ul>
    </nav>
  </div>
</footer>
